.shop-container{
    height: 100%;
    padding: 2%;
}
.items-container{
    display: flex;
    justify-content: space-around;
    border: 2px solid rgb(44, 44, 44);
    margin: 10px;
    border: 2px solid #fede00;
    background: rgb(44, 44, 44);
    color: white;
    padding: 20px;
    border-radius: 20px;
}